In [38]:
import pandas as pd

# Load the dataset
df = pd.read_csv("../data/raw/dht11_new.csv")  # Replace "your_data.csv" with the actual file name

In [39]:
# Drop the 'id' column from the dataset
df = df.drop(columns=['id'])

# Verify that the column has been dropped
df.head()

,temperature,humidity,mq2_analog,mq2_digital,sound_analog,sound_digital,mq9_analog,datatime,mq9_digital,mq8_analog,mq8_digital,pm25_density,pm10_density
0,32.3,53.0,148.0,1.0,192.0,0.0,141.0,2024-04-06 22:39:11,1.0,205.0,1.0,242.28,186.67
1,32.3,53.0,148.0,1.0,184.0,0.0,141.0,2024-04-06 22:39:18,1.0,205.0,1.0,233.98,189.99
2,32.3,53.0,148.0,1.0,189.0,0.0,141.0,2024-04-06 22:39:24,1.0,205.0,1.0,246.43,212.40
3,32.3,53.0,147.0,1.0,189.0,0.0,141.0,2024-04-06 22:39:31,1.0,205.0,1.0,234.81,183.35
4,32.3,53.0,147.0,1.0,184.0,0.0,141.0,2024-04-06 22:39:38,1.0,205.0,1.0,237.30,221.53

In [40]:
# Ensure 'datatime' is in datetime format
df['datatime'] = pd.to_datetime(df['datatime'])

# Set 'datatime' as the index, ensuring it's treated as a DatetimeIndex
df.set_index('datatime', inplace=True)

# Resample data by minute and calculate the mean for each minute

# df_resampled = df.resample('T').mean()

# # Remove rows with NaN values (no data for that minute)
# df_resampled.dropna(inplace=True)

# # Reset seconds to zero in the time index
# df_resampled.index = df_resampled.index.floor('T')


df_resampled=df
# Reset the index (if you want 'datatime' to be a column again)
df_resampled.reset_index(inplace=True)

# Remove the index (set it to a default integer index)
df_resampled.reset_index(drop=True, inplace=True)

# Display the first few rows to check the result
df_resampled.head()

,datatime,temperature,humidity,mq2_analog,mq2_digital,sound_analog,sound_digital,mq9_analog,mq9_digital,mq8_analog,mq8_digital,pm25_density,pm10_density
0,2024-04-06 22:39:11,32.3,53.0,148.0,1.0,192.0,0.0,141.0,1.0,205.0,1.0,242.28,186.67
1,2024-04-06 22:39:18,32.3,53.0,148.0,1.0,184.0,0.0,141.0,1.0,205.0,1.0,233.98,189.99
2,2024-04-06 22:39:24,32.3,53.0,148.0,1.0,189.0,0.0,141.0,1.0,205.0,1.0,246.43,212.40
3,2024-04-06 22:39:31,32.3,53.0,147.0,1.0,189.0,0.0,141.0,1.0,205.0,1.0,234.81,183.35
4,2024-04-06 22:39:38,32.3,53.0,147.0,1.0,184.0,0.0,141.0,1.0,205.0,1.0,237.30,221.53

In [41]:
# Find the total number of unique values for each column
unique_values = df_resampled.nunique()

# Display the result
print(unique_values)

datatime         60919
temperature        116
humidity            58
mq2_analog         413
mq2_digital          2
sound_analog       385
sound_digital        2
mq9_analog         393
mq9_digital          2
mq8_analog         513
mq8_digital          2
pm25_density       537
pm10_density       542
dtype: int64

In [42]:
# Check for null values in the dataset
null_values = df_resampled.isnull().sum()

# Print the number of null values per column
print("Null values per column:\n", null_values)

Null values per column:
 datatime         0
temperature      0
humidity         0
mq2_analog       2
mq2_digital      7
sound_analog     3
sound_digital    3
mq9_analog       6
mq9_digital      4
mq8_analog       2
mq8_digital      4
pm25_density     3
pm10_density     3
dtype: int64

In [43]:
df.count()

datatime         62000
temperature      62000
humidity         62000
mq2_analog       61998
mq2_digital      61993
sound_analog     61997
sound_digital    61997
mq9_analog       61994
mq9_digital      61996
mq8_analog       61998
mq8_digital      61996
pm25_density     61997
pm10_density     61997
dtype: int64

In [44]:
# Find the total number of unique values for each column
unique_values = df.nunique()

# Display the result
print(unique_values)

datatime         60919
temperature        116
humidity            58
mq2_analog         413
mq2_digital          2
sound_analog       385
sound_digital        2
mq9_analog         393
mq9_digital          2
mq8_analog         513
mq8_digital          2
pm25_density       537
pm10_density       542
dtype: int64

In [45]:
# Count the number of duplicate rows based on 'datatime' column
duplicate_datetime_count = df_resampled[df_resampled.duplicated(subset=['datatime'], keep=False)]

# Display the number of duplicate rows
print(f"Number of duplicate rows based on 'datatime': {len(duplicate_datetime_count)}")

# Display the first few duplicate rows for review
duplicate_datetime_count.head()

Number of duplicate rows based on 'datatime': 1138

,datatime,temperature,humidity,mq2_analog,mq2_digital,sound_analog,sound_digital,mq9_analog,mq9_digital,mq8_analog,mq8_digital,pm25_density,pm10_density
76,2024-04-06 22:48:17,32.3,54.0,174.0,1.0,193.0,0.0,206.0,1.0,268.0,1.0,240.62,187.50
77,2024-04-06 22:48:17,32.3,54.0,170.0,1.0,191.0,0.0,198.0,1.0,261.0,1.0,235.64,178.37
78,2024-04-06 22:48:17,32.3,54.0,171.0,1.0,192.0,0.0,203.0,1.0,265.0,1.0,237.30,182.52
79,2024-04-06 22:48:17,32.3,54.0,171.0,1.0,192.0,0.0,201.0,1.0,262.0,1.0,236.47,196.63
80,2024-04-06 22:48:17,32.3,53.0,175.0,1.0,195.0,0.0,207.0,1.0,269.0,1.0,237.30,197.46

In [46]:
duplicate_datetime_count['datatime'].nunique()

57

In [47]:

# mean for all columns except 'datatime'
min_values = df_resampled.min()
max_values = df_resampled.max()
mean_values = df_resampled.drop(columns=['datatime']).mean()

# Combine the results into a single DataFrame
summary_stats = pd.DataFrame({
    'Min': min_values,
    'Max': max_values,
    'Mean': mean_values
})

print(summary_stats)

                               Min                  Max        Mean
datatime       2024-04-06 22:39:11  2024-11-23 13:45:36         NaN
humidity                       0.0                 83.0   45.627548
mq2_analog                     0.0               1019.0   50.659376
mq2_digital                    0.0                  1.0    0.987047
mq8_analog                     0.0               1023.0  116.404513
mq8_digital                    0.0                  1.0    0.978983
mq9_analog                     0.0                638.0  193.257702
mq9_digital                    0.0                  1.0    0.943706
pm10_density                  -0.1                808.4  185.724883
pm25_density                  -0.1               849.07  231.158352
sound_analog                   0.0                785.0  135.467136
sound_digital                  0.0                  1.0    0.093456
temperature                  -18.6                 40.6   30.424016

In [48]:
# Drop 'datatime' and 'digital' columns (to avoid them in the count)
df_without_datatime_digital = df_resampled.drop(columns=['datatime', 'mq2_digital', 'mq9_digital', 'mq8_digital','sound_digital'])

# Count the number of records with value 0 for each parameter
zero_count = (df_without_datatime_digital == 0).sum()

# Display the result
print("Number of records with value 0 for each parameter:\n", zero_count)

Number of records with value 0 for each parameter:
 temperature     2465
humidity        2465
mq2_analog      1698
sound_analog     480
mq9_analog        18
mq8_analog        38
pm25_density       0
pm10_density       0
dtype: int64

In [49]:
# Filter rows where temperature is 0
temp_zero_rows = df_resampled[(df_resampled['temperature'] == 0) & (df_resampled['humidity']==0)]

# Display the filtered rows
temp_zero_rows

,datatime,temperature,humidity,mq2_analog,mq2_digital,sound_analog,sound_digital,mq9_analog,mq9_digital,mq8_analog,mq8_digital,pm25_density,pm10_density
222,2024-04-06 23:37:50,0.0,0.0,1014.0,1.0,708.0,1.0,91.0,1.0,51.0,0.0,171.73,-0.10
227,2024-04-06 23:53:47,0.0,0.0,395.0,0.0,323.0,0.0,375.0,0.0,376.0,0.0,18.16,-0.10
1358,2024-04-19 12:41:37,0.0,0.0,131.0,1.0,165.0,0.0,135.0,1.0,161.0,1.0,155.95,190.82
1359,2024-04-19 12:41:44,0.0,0.0,142.0,1.0,169.0,0.0,133.0,1.0,158.0,1.0,161.77,185.84
1360,2024-04-19 12:41:51,0.0,0.0,143.0,1.0,171.0,0.0,133.0,1.0,157.0,1.0,150.97,179.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45156,2024-11-15 22:48:49,0.0,0.0,30.0,1.0,93.0,0.0,183.0,1.0,93.0,1.0,209.91,163.43
45157,2024-11-15 22:48:55,0.0,0.0,1.0,1.0,96.0,0.0,223.0,1.0,94.0,1.0,211.57,141.84
45158,2024-11-15 22:49:02,0.0,0.0,29.0,NaN,176.0,0.0,170.0,1.0,86.0,1.0,208.25,155.95
45159,2024-11-15 22:49:09,0.0,0.0,2.0,1.0,88.0,0.0,218.0,1.0,92.0,1.0,214.06,175.05
45160,2024-11-15 22:49:15,0.0,0.0,32.0,1.0,134.0,0.0,179.0,1.0,92.0,1.0,200.78,148.48

In [50]:
# Filter rows where temperature is 0
temp_zero_rows = df_resampled[(df_resampled['temperature'] == 0) & (df_resampled['humidity']==0) & (df_resampled['mq2_analog']==0)]

# Display the filtered rows
temp_zero_rows

,datatime,temperature,humidity,mq2_analog,mq2_digital,sound_analog,sound_digital,mq9_analog,mq9_digital,mq8_analog,mq8_digital,pm25_density,pm10_density
4644,2024-08-26 22:03:22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.05,115.28
4645,2024-08-26 22:03:25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,163.43,126.07
4658,2024-08-26 22:04:29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.10,145.99
4659,2024-08-26 22:04:33,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,197.46,145.99
4660,2024-08-26 22:43:31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59.67,112.79
4661,2024-08-26 22:43:34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,242.28,111.96
4662,2024-08-26 22:43:38,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,235.64,102.83

In [51]:
# Filter rows where temperature is 0
temp_zero_rows = df_resampled[(df_resampled['mq9_analog']==0) & (df_resampled['mq8_analog']==0)]

# Display the filtered rows
temp_zero_rows

,datatime,temperature,humidity,mq2_analog,mq2_digital,sound_analog,sound_digital,mq9_analog,mq9_digital,mq8_analog,mq8_digital,pm25_density,pm10_density
2150,2024-04-20 14:35:41,38.0,21.0,0.0,0.0,70.0,1.0,0.0,0.0,0.0,0.0,256.39,192.48
2151,2024-04-20 14:35:47,38.0,21.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,224.02,193.31
2152,2024-04-20 14:35:54,38.0,21.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,215.72,170.07
2153,2024-04-20 14:36:01,38.0,21.0,0.0,0.0,11.0,1.0,0.0,0.0,0.0,0.0,204.93,183.35
2154,2024-04-20 14:36:28,38.0,21.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-0.10,194.14
2155,2024-04-20 14:36:35,38.0,21.0,0.0,0.0,58.0,1.0,0.0,0.0,0.0,0.0,277.15,194.14
2156,2024-04-20 14:36:41,38.0,21.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,219.87,201.61
4644,2024-08-26 22:03:22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.05,115.28
4645,2024-08-26 22:03:25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,163.43,126.07
4658,2024-08-26 22:04:29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.10,145.99
4659,2024-08-26 22:04:33,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,197.46,145.99
4660,2024-08-26 22:43:31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59.67,112.79
4661,2024-08-26 22:43:34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,242.28,111.96
4662,2024-08-26 22:43:38,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,235.64,102.83

In [52]:
# Find number of missing values for each column
missing_values = df.isnull().sum()
df.fillna(0, inplace=True)
# Display the result
print(missing_values)

datatime         0
temperature      0
humidity         0
mq2_analog       2
mq2_digital      7
sound_analog     3
sound_digital    3
mq9_analog       6
mq9_digital      4
mq8_analog       2
mq8_digital      4
pm25_density     3
pm10_density     3
dtype: int64

In [53]:
# Check the data type of the column
print(df_resampled['datatime'].dtype)

# Display the first few rows of the column
print(df_resampled['datatime'].head())

datetime64[ns]
0   2024-04-06 22:39:11
1   2024-04-06 22:39:18
2   2024-04-06 22:39:24
3   2024-04-06 22:39:31
4   2024-04-06 22:39:38
Name: datatime, dtype: datetime64[ns]

In [54]:
# Convert the column to datetime
df_resampled['datatime'] = pd.to_datetime(df_resampled['datatime'], errors='coerce')

# Check for rows where the conversion failed
invalid_datetimes = df_resampled[df_resampled['datatime'].isnull()]
print(invalid_datetimes)

Empty DataFrame
Columns: [datatime, temperature, humidity, mq2_analog, mq2_digital, sound_analog, sound_digital, mq9_analog, mq9_digital, mq8_analog, mq8_digital, pm25_density, pm10_density]
Index: []

In [55]:
print(df_resampled['datatime'].dtype)

datetime64[ns]

In [56]:
df_resampled.fillna(df_resampled.mean(), inplace=True)  # Example: Impute with mean for numeric columns

In [57]:
duplicates = df_resampled.duplicated().sum()  # Count duplicates
df_resampled.drop_duplicates(inplace=True)   # Remove duplicates
print(f"Duplicates removed: {duplicates}")

Duplicates removed: 0

In [58]:
# Identify duplicate timestamps
df_resampled = df_resampled.sort_values(by="datatime").reset_index(drop=True)
# Keep only the last occurrence of each duplicate 'datatime'
df_unique = df_resampled[~df_resampled["datatime"].duplicated(keep="last")].reset_index(drop=True)

In [59]:
df_unique.nunique()

datatime         60919
temperature        115
humidity            58
mq2_analog         411
mq2_digital          2
sound_analog       385
sound_digital        2
mq9_analog         393
mq9_digital          2
mq8_analog         513
mq8_digital          2
pm25_density       534
pm10_density       541
dtype: int64

In [60]:
df_unique.to_csv("../data/processed/dht11_preprocessed.csv", index=False)

In [61]:
# Count records with value <= 0 for each column
zero_or_less_count = df_unique.select_dtypes(include=['float', 'int']).apply(lambda x: (x <= 0).sum())

# Display the results
print("Number of records with value <= 0 for each parameter:\n")
print(zero_or_less_count)

Number of records with value <= 0 for each parameter:

temperature       2461
humidity          2460
mq2_analog        1691
mq2_digital        807
sound_analog       481
sound_digital    55154
mq9_analog          23
mq9_digital       3491
mq8_analog          40
mq8_digital       1303
pm25_density        46
pm10_density        22
dtype: int64

In [62]:
# Count records with value <= 0 for each column
zero_or_less_count = df_unique.select_dtypes(include=['float', 'int']).apply(lambda x: (x < 0).sum())

# Display the results
print("Number of records with value <= 0 for each parameter:\n")
print(zero_or_less_count)

Number of records with value <= 0 for each parameter:

temperature       1
humidity          0
mq2_analog        0
mq2_digital       0
sound_analog      0
sound_digital     0
mq9_analog        0
mq9_digital       0
mq8_analog        0
mq8_digital       0
pm25_density     43
pm10_density     19
dtype: int64

In [63]:
# Filter records with temperature < 0 and either pm25_density or pm10_density < 0
negative_temp_density = df_unique[
    (df_unique['temperature'] < 0)
]

# Display the filtered records
print("Records with temperature < 0 and either pm25_density or pm10_density < 0:")
negative_temp_density.head(60)

Records with temperature < 0 and either pm25_density or pm10_density < 0:

,datatime,temperature,humidity,mq2_analog,mq2_digital,sound_analog,sound_digital,mq9_analog,mq9_digital,mq8_analog,mq8_digital,pm25_density,pm10_density
1333,2024-04-19 12:41:30,-18.6,39.0,129.0,1.0,163.0,0.0,135.0,1.0,159.0,1.0,160.94,184.18

In [64]:
from sklearn.preprocessing import StandardScaler

# Select the relevant columns (excluding datetime and any non-numeric columns)
cols_to_scale = ['temperature', 'humidity', 'mq2_analog', 'mq2_digital', 
                 'sound_analog', 'sound_digital', 'mq9_analog', 'mq9_digital', 
                 'mq8_analog', 'mq8_digital', 'pm25_density', 'pm10_density']

# Initialize StandardScaler
scaler = StandardScaler()

# Apply scaling to the selected columns
df_scaled = df_unique[cols_to_scale].copy()
df_scaled[cols_to_scale] = scaler.fit_transform(df_scaled[cols_to_scale])

# Now calculate correlations after scaling
correlation_matrix = df_scaled.corr()

# Display the correlation matrix
correlation_matrix

,temperature,humidity,mq2_analog,mq2_digital,sound_analog,sound_digital,mq9_analog,mq9_digital,mq8_analog,mq8_digital,pm25_density,pm10_density
temperature,1.000000,0.542157,0.140188,-0.026929,-0.000672,0.122796,-0.024158,-0.041322,0.112932,-0.011771,0.054680,0.041152
humidity,0.542157,1.000000,-0.064809,0.055068,-0.121074,0.160685,-0.148559,-0.051829,-0.189744,-0.009711,0.188164,-0.000642
mq2_analog,0.140188,-0.064809,1.000000,-0.138965,0.528920,0.265623,0.352219,-0.121249,0.682559,-0.138230,-0.035848,0.076344
mq2_digital,-0.026929,0.055068,-0.138965,1.000000,-0.013376,-0.266656,0.186276,0.286475,0.023101,0.767850,0.187892,0.015818
sound_analog,-0.000672,-0.121074,0.528920,-0.013376,1.000000,-0.381234,0.364093,-0.106618,0.178363,-0.053419,0.086382,0.119532
sound_digital,0.122796,0.160685,0.265623,-0.266656,-0.381234,1.000000,-0.157349,-0.084361,0.349637,-0.197181,-0.133873,-0.122728
mq9_analog,-0.024158,-0.148559,0.352219,0.186276,0.364093,-0.157349,1.000000,-0.185548,0.575201,0.120982,0.080783,0.040117
mq9_digital,-0.041322,-0.051829,-0.121249,0.286475,-0.106618,-0.084361,-0.185548,1.000000,-0.070651,0.219834,-0.070641,-0.108947
mq8_analog,0.112932,-0.189744,0.682559,0.023101,0.178363,0.349637,0.575201,-0.070651,1.000000,0.102006,-0.081516,0.030753
mq8_digital,-0.011771,-0.009711,-0.138230,0.767850,-0.053419,-0.197181,0.120982,0.219834,0.102006,1.000000,0.080520,-0.044048
pm25_density,0.054680,0.188164,-0.035848,0.187892,0.086382,-0.133873,0.080783,-0.070641,-0.081516,0.080520,1.000000,0.409802
pm10_density,0.041152,-0.000642,0.076344,0.015818,0.119532,-0.122728,0.040117,-0.108947,0.030753,-0.044048,0.409802,1.000000

In [65]:
# Filter correlations greater than 0.3 and less than 1.0
high_corr = correlation_matrix.where((correlation_matrix > 0.3) & (correlation_matrix < 1.0))

# Drop NaN values to focus on relevant correlations
high_corr = high_corr.stack().reset_index()

# Rename columns for clarity
high_corr.columns = ["Parameter 1", "Parameter 2", "Correlation"]

# Ensure unique pairs by sorting parameters and dropping duplicates
high_corr["Sorted Pair"] = high_corr[["Parameter 1", "Parameter 2"]].apply(lambda x: tuple(sorted(x)), axis=1)
unique_corr = high_corr.drop_duplicates(subset="Sorted Pair").drop(columns="Sorted Pair")

# Print the unique pairs
print("Unique pairs with correlation greater than 0.3:")
for _, row in unique_corr.iterrows():
    print(f"{row['Parameter 1']} and {row['Parameter 2']}: {row['Correlation']:.2f}")

Unique pairs with correlation greater than 0.3:
temperature and humidity: 0.54
mq2_analog and sound_analog: 0.53
mq2_analog and mq9_analog: 0.35
mq2_analog and mq8_analog: 0.68
mq2_digital and mq8_digital: 0.77
sound_analog and mq9_analog: 0.36
sound_digital and mq8_analog: 0.35
mq9_analog and mq8_analog: 0.58
pm25_density and pm10_density: 0.41

In [66]:
df_unique

,datatime,temperature,humidity,mq2_analog,mq2_digital,sound_analog,sound_digital,mq9_analog,mq9_digital,mq8_analog,mq8_digital,pm25_density,pm10_density
0,2024-04-06 22:39:11,32.3,53.0,148.0,1.0,192.0,0.0,141.0,1.0,205.0,1.0,242.28,186.67
1,2024-04-06 22:39:18,32.3,53.0,148.0,1.0,184.0,0.0,141.0,1.0,205.0,1.0,233.98,189.99
2,2024-04-06 22:39:24,32.3,53.0,148.0,1.0,189.0,0.0,141.0,1.0,205.0,1.0,246.43,212.40
3,2024-04-06 22:39:31,32.3,53.0,147.0,1.0,189.0,0.0,141.0,1.0,205.0,1.0,234.81,183.35
4,2024-04-06 22:39:38,32.3,53.0,147.0,1.0,184.0,0.0,141.0,1.0,205.0,1.0,237.30,221.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60914,2024-11-23 13:45:10,33.3,36.0,47.0,1.0,138.0,0.0,198.0,1.0,105.0,1.0,209.91,122.75
60915,2024-11-23 13:45:16,33.3,36.0,47.0,1.0,134.0,0.0,197.0,1.0,104.0,1.0,219.04,126.90
60916,2024-11-23 13:45:23,33.3,36.0,47.0,1.0,138.0,0.0,198.0,1.0,104.0,1.0,211.57,131.05
60917,2024-11-23 13:45:30,33.3,36.0,47.0,1.0,140.0,0.0,198.0,1.0,104.0,1.0,205.76,117.77
60918,2024-11-23 13:45:36,33.3,36.0,47.0,1.0,134.0,0.0,199.0,1.0,105.0,1.0,206.59,128.56