In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv("../data/raw/dht11_new.csv")  # Replace "your_data.csv" with the actual file name

In [2]:
# Drop the 'id' column from the dataset
df = df.drop(columns=['id'])

# Verify that the column has been dropped
df.head()

,temperature,humidity,mq2_analog,mq2_digital,sound_analog,sound_digital,mq9_analog,datatime,mq9_digital,mq8_analog,mq8_digital,pm25_density,pm10_density
0,32.3,53.0,148.0,1,192.0,0,141.0,2024-04-06 22:39:11,1,205.0,1,242.28,186.67
1,32.3,53.0,148.0,1,184.0,0,141.0,2024-04-06 22:39:18,1,205.0,1,233.98,189.99
2,32.3,53.0,148.0,1,189.0,0,141.0,2024-04-06 22:39:24,1,205.0,1,246.43,212.40
3,32.3,53.0,147.0,1,189.0,0,141.0,2024-04-06 22:39:31,1,205.0,1,234.81,183.35
4,32.3,53.0,147.0,1,184.0,0,141.0,2024-04-06 22:39:38,1,205.0,1,237.30,221.53

In [3]:
# Check for null values in the dataset
null_values = df.isnull().sum()

# Print the number of null values per column
print("Null values per column:\n", null_values)

Null values per column:
 temperature      0
humidity         0
mq2_analog       0
mq2_digital      0
sound_analog     0
sound_digital    0
mq9_analog       0
datatime         0
mq9_digital      0
mq8_analog       0
mq8_digital      0
pm25_density     0
pm10_density     0
dtype: int64

In [4]:
df.count()

temperature      40171
humidity         40171
mq2_analog       40171
mq2_digital      40171
sound_analog     40171
sound_digital    40171
mq9_analog       40171
datatime         40171
mq9_digital      40171
mq8_analog       40171
mq8_digital      40171
pm25_density     40171
pm10_density     40171
dtype: int64

In [5]:
# Find the total number of unique values for each column
unique_values = df.nunique()

# Display the result
print(unique_values)

temperature        101
humidity            58
mq2_analog         411
mq2_digital          2
sound_analog       383
sound_digital        2
mq9_analog         376
datatime         39299
mq9_digital          2
mq8_analog         512
mq8_digital          2
pm25_density       510
pm10_density       505
dtype: int64

In [6]:
# Count the number of duplicate rows based on 'datatime' column
duplicate_datetime_count = df[df.duplicated(subset=['datatime'], keep=False)]

# Display the number of duplicate rows
print(f"Number of duplicate rows based on 'datatime': {len(duplicate_datetime_count)}")

# Display the first few duplicate rows for review
duplicate_datetime_count.head()

Number of duplicate rows based on 'datatime': 919

,temperature,humidity,mq2_analog,mq2_digital,sound_analog,sound_digital,mq9_analog,datatime,mq9_digital,mq8_analog,mq8_digital,pm25_density,pm10_density
76,32.3,54.0,174.0,1,193.0,0,206.0,2024-04-06 22:48:17,1,268.0,1,240.62,187.50
77,32.3,54.0,170.0,1,191.0,0,198.0,2024-04-06 22:48:17,1,261.0,1,235.64,178.37
78,32.3,54.0,171.0,1,192.0,0,203.0,2024-04-06 22:48:17,1,265.0,1,237.30,182.52
79,32.3,54.0,171.0,1,192.0,0,201.0,2024-04-06 22:48:17,1,262.0,1,236.47,196.63
80,32.3,53.0,175.0,1,195.0,0,207.0,2024-04-06 22:48:17,1,269.0,1,237.30,197.46

In [7]:
duplicate_datetime_count['datatime'].nunique()

47

In [8]:

# mean for all columns except 'datatime'
min_values = df.min()
max_values = df.max()
mean_values = df.drop(columns=['datatime']).mean()

# Combine the results into a single DataFrame
summary_stats = pd.DataFrame({
    'Min': min_values,
    'Max': max_values,
    'Mean': mean_values
})

print(summary_stats)

                               Min                  Max        Mean
datatime       2024-04-06 22:39:11  2024-11-14 22:44:06         NaN
humidity                       0.0                 83.0   49.426776
mq2_analog                     0.0               1019.0   54.920938
mq2_digital                      0                    1    0.980010
mq8_analog                     0.0               1023.0  115.133629
mq8_digital                      0                    1    0.967638
mq9_analog                     0.0                638.0  182.800229
mq9_digital                      0                    1    0.941998
pm10_density                  -0.1                808.4  188.155494
pm25_density                  -0.1               849.07  230.942126
sound_analog                   0.0                785.0  133.376018
sound_digital                    0                    1    0.144233
temperature                  -18.6                 40.6   31.382054

In [9]:
# Drop 'datatime' and 'digital' columns (to avoid them in the count)
df_without_datatime_digital = df.drop(columns=['datatime', 'mq2_digital', 'mq9_digital', 'mq8_digital','sound_digital'])

# Count the number of records with value 0 for each parameter
zero_count = (df_without_datatime_digital == 0).sum()

# Display the result
print("Number of records with value 0 for each parameter:\n", zero_count)

Number of records with value 0 for each parameter:
 temperature     1475
humidity        1475
mq2_analog      1639
sound_analog     429
mq9_analog        18
mq8_analog        38
pm25_density       0
pm10_density       0
dtype: int64

In [10]:
# Filter rows where temperature is 0
temp_zero_rows = df[(df['temperature'] == 0) & (df['humidity']==0)]

# Display the filtered rows
temp_zero_rows

,temperature,humidity,mq2_analog,mq2_digital,sound_analog,sound_digital,mq9_analog,datatime,mq9_digital,mq8_analog,mq8_digital,pm25_density,pm10_density
222,0.0,0.0,1014.0,1,708.0,1,91.0,2024-04-06 23:37:50,1,51.0,0,171.73,-0.10
227,0.0,0.0,395.0,0,323.0,0,375.0,2024-04-06 23:53:47,0,376.0,0,18.16,-0.10
1358,0.0,0.0,131.0,1,165.0,0,135.0,2024-04-19 12:41:37,1,161.0,1,155.95,190.82
1359,0.0,0.0,142.0,1,169.0,0,133.0,2024-04-19 12:41:44,1,158.0,1,161.77,185.84
1360,0.0,0.0,143.0,1,171.0,0,133.0,2024-04-19 12:41:51,1,157.0,1,150.97,179.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39737,0.0,0.0,28.0,1,117.0,0,167.0,2024-11-14 21:55:34,1,94.0,1,227.34,213.23
39738,0.0,0.0,31.0,1,109.0,0,167.0,2024-11-14 21:55:40,1,95.0,1,307.86,198.29
39739,0.0,0.0,32.0,1,117.0,0,169.0,2024-11-14 21:55:47,1,96.0,1,239.79,203.27
39740,0.0,0.0,35.0,1,147.0,0,182.0,2024-11-14 21:56:08,1,102.0,1,256.39,204.10
39741,0.0,0.0,19.0,1,85.0,0,230.0,2024-11-14 21:56:13,1,117.0,1,253.07,218.21

In [11]:
# Filter rows where temperature is 0
temp_zero_rows = df[(df['temperature'] == 0) & (df['humidity']==0) & (df['mq2_analog']==0)]

# Display the filtered rows
temp_zero_rows

,temperature,humidity,mq2_analog,mq2_digital,sound_analog,sound_digital,mq9_analog,datatime,mq9_digital,mq8_analog,mq8_digital,pm25_density,pm10_density
4644,0.0,0.0,0.0,0,0.0,0,0.0,2024-08-26 22:03:22,0,0.0,0,4.05,115.28
4645,0.0,0.0,0.0,0,0.0,0,0.0,2024-08-26 22:03:25,0,0.0,0,163.43,126.07
4658,0.0,0.0,0.0,0,0.0,0,0.0,2024-08-26 22:04:29,0,0.0,0,-0.10,145.99
4659,0.0,0.0,0.0,0,0.0,0,0.0,2024-08-26 22:04:33,0,0.0,0,197.46,145.99
4660,0.0,0.0,0.0,0,0.0,0,0.0,2024-08-26 22:43:31,0,0.0,0,59.67,112.79
4661,0.0,0.0,0.0,0,0.0,0,0.0,2024-08-26 22:43:34,0,0.0,0,242.28,111.96
4662,0.0,0.0,0.0,0,0.0,0,0.0,2024-08-26 22:43:38,0,0.0,0,235.64,102.83

In [12]:
# Filter rows where temperature is 0
temp_zero_rows = df[(df['mq9_analog']==0) & (df['mq8_analog']==0)]

# Display the filtered rows
temp_zero_rows

,temperature,humidity,mq2_analog,mq2_digital,sound_analog,sound_digital,mq9_analog,datatime,mq9_digital,mq8_analog,mq8_digital,pm25_density,pm10_density
2150,38.0,21.0,0.0,0,70.0,1,0.0,2024-04-20 14:35:41,0,0.0,0,256.39,192.48
2151,38.0,21.0,0.0,0,3.0,1,0.0,2024-04-20 14:35:47,0,0.0,0,224.02,193.31
2152,38.0,21.0,0.0,0,1.0,1,0.0,2024-04-20 14:35:54,0,0.0,0,215.72,170.07
2153,38.0,21.0,0.0,0,11.0,1,0.0,2024-04-20 14:36:01,0,0.0,0,204.93,183.35
2154,38.0,21.0,0.0,0,0.0,1,0.0,2024-04-20 14:36:28,0,0.0,0,-0.10,194.14
2155,38.0,21.0,0.0,0,58.0,1,0.0,2024-04-20 14:36:35,0,0.0,0,277.15,194.14
2156,38.0,21.0,0.0,0,0.0,1,0.0,2024-04-20 14:36:41,0,0.0,0,219.87,201.61
4644,0.0,0.0,0.0,0,0.0,0,0.0,2024-08-26 22:03:22,0,0.0,0,4.05,115.28
4645,0.0,0.0,0.0,0,0.0,0,0.0,2024-08-26 22:03:25,0,0.0,0,163.43,126.07
4658,0.0,0.0,0.0,0,0.0,0,0.0,2024-08-26 22:04:29,0,0.0,0,-0.10,145.99
4659,0.0,0.0,0.0,0,0.0,0,0.0,2024-08-26 22:04:33,0,0.0,0,197.46,145.99
4660,0.0,0.0,0.0,0,0.0,0,0.0,2024-08-26 22:43:31,0,0.0,0,59.67,112.79
4661,0.0,0.0,0.0,0,0.0,0,0.0,2024-08-26 22:43:34,0,0.0,0,242.28,111.96
4662,0.0,0.0,0.0,0,0.0,0,0.0,2024-08-26 22:43:38,0,0.0,0,235.64,102.83

In [13]:
# Find number of missing values for each column
missing_values = df.isnull().sum()

# Display the result
print(missing_values)

temperature      0
humidity         0
mq2_analog       0
mq2_digital      0
sound_analog     0
sound_digital    0
mq9_analog       0
datatime         0
mq9_digital      0
mq8_analog       0
mq8_digital      0
pm25_density     0
pm10_density     0
dtype: int64

In [14]:
# Check the data type of the column
print(df['datatime'].dtype)

# Display the first few rows of the column
print(df['datatime'].head())

object
0    2024-04-06 22:39:11
1    2024-04-06 22:39:18
2    2024-04-06 22:39:24
3    2024-04-06 22:39:31
4    2024-04-06 22:39:38
Name: datatime, dtype: object

In [15]:
# Convert the column to datetime
df['datatime'] = pd.to_datetime(df['datatime'], errors='coerce')

# Check for rows where the conversion failed
invalid_datetimes = df[df['datatime'].isnull()]
print(invalid_datetimes)

Empty DataFrame
Columns: [temperature, humidity, mq2_analog, mq2_digital, sound_analog, sound_digital, mq9_analog, datatime, mq9_digital, mq8_analog, mq8_digital, pm25_density, pm10_density]
Index: []

In [16]:
print(df['datatime'].dtype)

datetime64[ns]

In [17]:
df.fillna(df.mean(), inplace=True)  # Example: Impute with mean for numeric columns

In [18]:
duplicates = df.duplicated().sum()  # Count duplicates
df.drop_duplicates(inplace=True)   # Remove duplicates
print(f"Duplicates removed: {duplicates}")

Duplicates removed: 0

In [19]:
# Identify duplicate timestamps
df = df.sort_values(by="datatime").reset_index(drop=True)
# Keep only the last occurrence of each duplicate 'datatime'
df_unique = df[~df["datatime"].duplicated(keep="last")].reset_index(drop=True)

In [20]:
df_unique.nunique()

temperature        100
humidity            58
mq2_analog         409
mq2_digital          2
sound_analog       382
sound_digital        2
mq9_analog         376
datatime         39299
mq9_digital          2
mq8_analog         512
mq8_digital          2
pm25_density       508
pm10_density       503
dtype: int64

In [25]:
df_unique.to_csv("../data/processed/dht11_preprocessed.csv", index=False)

In [33]:
# Count records with value <= 0 for each column
zero_or_less_count = df_unique.select_dtypes(include=['float', 'int']).apply(lambda x: (x <= 0).sum())

# Display the results
print("Number of records with value <= 0 for each parameter:\n")
print(zero_or_less_count)

Number of records with value <= 0 for each parameter:

temperature       1472
humidity          1471
mq2_analog        1630
mq2_digital        800
sound_analog       428
sound_digital    33534
mq9_analog          18
mq9_digital       2327
mq8_analog          38
mq8_digital       1297
pm25_density        39
pm10_density        19
dtype: int64

In [29]:
# Count records with value <= 0 for each column
zero_or_less_count = df_unique.select_dtypes(include=['float', 'int']).apply(lambda x: (x < 0).sum())

# Display the results
print("Number of records with value <= 0 for each parameter:\n")
print(zero_or_less_count)

Number of records with value <= 0 for each parameter:

temperature       1
humidity          0
mq2_analog        0
mq2_digital       0
sound_analog      0
sound_digital     0
mq9_analog        0
mq9_digital       0
mq8_analog        0
mq8_digital       0
pm25_density     39
pm10_density     19
dtype: int64

In [37]:
# Filter records with temperature < 0 and either pm25_density or pm10_density < 0
negative_temp_density = df_unique[
    (df_unique['temperature'] < 0)
]

# Display the filtered records
print("Records with temperature < 0 and either pm25_density or pm10_density < 0:")
negative_temp_density.head(60)

Records with temperature < 0 and either pm25_density or pm10_density < 0:

,temperature,humidity,mq2_analog,mq2_digital,sound_analog,sound_digital,mq9_analog,datatime,mq9_digital,mq8_analog,mq8_digital,pm25_density,pm10_density
1333,-18.6,39.0,129.0,1,163.0,0,135.0,2024-04-19 12:41:30,1,159.0,1,160.94,184.18

In [21]:
from sklearn.preprocessing import StandardScaler

# Select the relevant columns (excluding datetime and any non-numeric columns)
cols_to_scale = ['temperature', 'humidity', 'mq2_analog', 'mq2_digital', 
                 'sound_analog', 'sound_digital', 'mq9_analog', 'mq9_digital', 
                 'mq8_analog', 'mq8_digital', 'pm25_density', 'pm10_density']

# Initialize StandardScaler
scaler = StandardScaler()

# Apply scaling to the selected columns
df_scaled = df_unique[cols_to_scale].copy()
df_scaled[cols_to_scale] = scaler.fit_transform(df_scaled[cols_to_scale])

# Now calculate correlations after scaling
correlation_matrix = df_scaled.corr()

# Display the correlation matrix
correlation_matrix

,temperature,humidity,mq2_analog,mq2_digital,sound_analog,sound_digital,mq9_analog,mq9_digital,mq8_analog,mq8_digital,pm25_density,pm10_density
temperature,1.000000,0.427505,0.137798,-0.014639,0.021840,0.099146,0.035187,-0.046872,0.138455,0.010024,0.046443,0.026377
humidity,0.427505,1.000000,-0.153174,0.099123,-0.130519,0.089505,-0.136753,-0.050964,-0.267821,0.033534,0.194565,-0.101059
mq2_analog,0.137798,-0.153174,1.000000,-0.132095,0.553780,0.246226,0.427902,-0.127499,0.707836,-0.124795,-0.054048,0.078869
mq2_digital,-0.014639,0.099123,-0.132095,1.000000,-0.022783,-0.255994,0.189962,0.352428,0.020902,0.771208,0.210066,0.026232
sound_analog,0.021840,-0.130519,0.553780,-0.022783,1.000000,-0.393567,0.359485,-0.123499,0.166457,-0.064507,0.091738,0.171420
sound_digital,0.099146,0.089505,0.246226,-0.255994,-0.393567,1.000000,-0.097201,-0.103191,0.385956,-0.177840,-0.151485,-0.174302
mq9_analog,0.035187,-0.136753,0.427902,0.189962,0.359485,-0.097201,1.000000,-0.180214,0.576299,0.104303,0.039888,0.064292
mq9_digital,-0.046872,-0.050964,-0.127499,0.352428,-0.123499,-0.103191,-0.180214,1.000000,-0.051757,0.268073,-0.093451,-0.144147
mq8_analog,0.138455,-0.267821,0.707836,0.020902,0.166457,0.385956,0.576299,-0.051757,1.000000,0.105206,-0.132320,0.006951
mq8_digital,0.010024,0.033534,-0.124795,0.771208,-0.064507,-0.177840,0.104303,0.268073,0.105206,1.000000,0.088060,-0.040723
pm25_density,0.046443,0.194565,-0.054048,0.210066,0.091738,-0.151485,0.039888,-0.093451,-0.132320,0.088060,1.000000,0.412753
pm10_density,0.026377,-0.101059,0.078869,0.026232,0.171420,-0.174302,0.064292,-0.144147,0.006951,-0.040723,0.412753,1.000000

In [22]:
# Filter correlations greater than 0.3 and less than 1.0
high_corr = correlation_matrix.where((correlation_matrix > 0.3) & (correlation_matrix < 1.0))

# Drop NaN values to focus on relevant correlations
high_corr = high_corr.stack().reset_index()

# Rename columns for clarity
high_corr.columns = ["Parameter 1", "Parameter 2", "Correlation"]

# Ensure unique pairs by sorting parameters and dropping duplicates
high_corr["Sorted Pair"] = high_corr[["Parameter 1", "Parameter 2"]].apply(lambda x: tuple(sorted(x)), axis=1)
unique_corr = high_corr.drop_duplicates(subset="Sorted Pair").drop(columns="Sorted Pair")

# Print the unique pairs
print("Unique pairs with correlation greater than 0.3:")
for _, row in unique_corr.iterrows():
    print(f"{row['Parameter 1']} and {row['Parameter 2']}: {row['Correlation']:.2f}")

Unique pairs with correlation greater than 0.3:
temperature and humidity: 0.43
mq2_analog and sound_analog: 0.55
mq2_analog and mq9_analog: 0.43
mq2_analog and mq8_analog: 0.71
mq2_digital and mq9_digital: 0.35
mq2_digital and mq8_digital: 0.77
sound_analog and mq9_analog: 0.36
sound_digital and mq8_analog: 0.39
mq9_analog and mq8_analog: 0.58
pm25_density and pm10_density: 0.41

In [24]:
df_unique

,temperature,humidity,mq2_analog,mq2_digital,sound_analog,sound_digital,mq9_analog,datatime,mq9_digital,mq8_analog,mq8_digital,pm25_density,pm10_density
0,32.3,53.0,148.0,1,192.0,0,141.0,2024-04-06 22:39:11,1,205.0,1,242.28,186.67
1,32.3,53.0,148.0,1,184.0,0,141.0,2024-04-06 22:39:18,1,205.0,1,233.98,189.99
2,32.3,53.0,148.0,1,189.0,0,141.0,2024-04-06 22:39:24,1,205.0,1,246.43,212.40
3,32.3,53.0,147.0,1,189.0,0,141.0,2024-04-06 22:39:31,1,205.0,1,234.81,183.35
4,32.3,53.0,147.0,1,184.0,0,141.0,2024-04-06 22:39:38,1,205.0,1,237.30,221.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39294,30.8,39.0,31.0,1,120.0,0,175.0,2024-11-14 22:43:39,1,99.0,1,241.45,214.89
39295,30.8,39.0,31.0,1,153.0,0,176.0,2024-11-14 22:43:45,1,100.0,1,250.58,201.61
39296,30.8,39.0,31.0,1,115.0,0,175.0,2024-11-14 22:43:52,1,99.0,1,237.30,210.74
39297,30.8,39.0,31.0,1,121.0,0,175.0,2024-11-14 22:43:59,1,99.0,1,234.81,205.76
39298,30.8,39.0,31.0,1,151.0,0,175.0,2024-11-14 22:44:06,1,100.0,1,279.64,229.83